<!DOCTYPE html>
<html ng-app="carte">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/leaflet/dist/leaflet.js"></script>
    <script src="node_modules/angular-simple-logger/dist/angular-simple-logger.js"></script>
    <script src="node_modules/ui-leaflet/dist/ui-leaflet.min.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <script>
        //var app = angular.module('demoapp', ['ui-leaflet']);
        app.controller('BasicLFCenterController', [ '$scope', function($scope) {
            angular.extend($scope, {
                london: {
                    lat: 51.505,
                    lng: -0.09,
                    zoom: 4
                }
            });
       }]);
    </script>
    <style>
        input {
            width: 120px;
            margin-right: 10px;
        }
    </style>
  </head>
  <body ng-controller="BasicLFCenterController">
     <leaflet lf-center="london" width="100%" height="480px"></leaflet>
     <h1>Center map example</h1>
     <ul>
         <li><input type="number" step="any" ng-model="london.lat" /> Latitude</li>
         <li><input type="number" step="any" ng-model="london.lng" /> Longitude</li>
         <li><input type="number" step="any" ng-model="london.zoom" /> Zoom</li>
     </ul>
  </body>
</html>
