<div>
    <!-- Pas de token, inscription -->
    <label for="inputPseudo">Pseudo</label>
    <input type="text" id="inputPseudo" placeholder="Entrez votre pseudo..." ng-model="pseudo" />
    <button class="waves-effect waves-light btn" ng-click="creerPartie()">Jouer</button>
    <br/><br/>
    <h2>Règles du jeu :</h2>
    <p>
        Trouver la rose des vents en collectant 5 indices. Ces 5 indices doivent être collectés en cliquant sur un endroit de la carte correspondant à l'indication donnée en haut. Une fois le premier point trouvé, un indice apparaîtra alors dans la liste pour trouver la rose des vents finale une fois les 5 indices trouvés.
    </p>
    <p>
        <b>Attention vous n'aurez qu'une seule chance pour trouver la rose des vents une fois les 5 indices collectés.</b> Votre score sera ensuite calculé selon la précision entre votre sélection et le point de destination finale où se situe la rose des vents. Bon courrage :-).
    </p>
</div>
